# http://editorconfig.org
# base: google coding style

root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120  # own rule

# document
[*.{markdown,md}] # google
indent_size = 4
trim_trailing_whitespace = false

[LICENSE]
insert_final_newline = false

# source
[*.{py,py.tpl}]  # google
indent_size = 4

[*.go]  # effective go
indent_size = 4
indent_style = tab

[*.sh]  # google
shell_variant      = bash
switch_case_indent = true

# config
[.git*]
indent_style = tab
indent_size = 4

# build
[Dockerfile]
indent_style = tab
indent_size = 4

[Makefile]
indent_style = tab
indent_size = 4

[Earthfile]
indent_style = tab
indent_size = 4

